{% extends 'base.html.twig' %}
{% block title %}Myrecipes | Accueil
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur MyRecipes</h1>
			<p class="lead">MyRecipes est une application qui te donne la possibilité de concevoir des recettes en utilisant les ingrédients de ton choix. Tu as la liberté de les partager avec la communauté du site ou de les garder privées.</p>
			<hr class="my-4">
			<p>Pour commencer, rends-toi sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
		</div>
	</div>

{% endblock %}
